@using DomainClass;
@model IEnumerable<Factor>

@{
    ViewBag.Title = "Factors";
}

@section styles{
    <style>
        .greenRow, .greenRow td {
            background-color: #cbffcb;
        }
    </style>
}

<div class="block grid12">
    <div class="breadcrumb">
        <a href="/Home/Index">صفحه اصلی</a><span>›</span><a href="/Admin/Factors">مدیریت خرید ها</a>
    </div>
</div>
<div class="full12">
    <div class="block grid12">
        <h1 class="block-header">لیست خرید ها</h1>
        <div class="separator"></div>
        <div class="block-standart">
            <div class="form inline">
                <div class="group">
                    <table class="table-full table-total">
                        <tr>
                            <td style="text-align:center">
                                <h1 style="color:white">خرید های پراخت شده (@Model.Count(p => p.IsFinish).ToString())</h1>
                            </td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr @{ if (item.IsFinish) { <text> class="greenRow" </text>  } }>
                                <td>
                                    <div>
                                        <div>
                                            @Html.ActionLink("ارسال ایمیل", "SendMail", new { email = item.Email }, new { @class = "button" })
                                        </div>
                                        <div style="width: 50%; display: inline-block;">
                                            <div style="margin-left:50px;">تاریخ خرید : @item.BuyDate.ToPersianDate().ToString("yyyy/mm/dd HH:MM:ss")</div>
                                            <div style="margin-left:50px;">کد رهگیری : @Html.DisplayFor(modelItem => item.FlloweCode)</div>
                                            <div style="margin-left:50px;">قیمت : @item.Price.ToPrice() تومان</div>
                                        </div>
                                        <div style="width: 50%; display: inline-block;">

                                            <div style="margin-left:50px;">نام خریدار : @Html.DisplayFor(modelItem => item.Name)</div>
                                            <div style="margin-left:50px;">موبایل : @Html.DisplayFor(modelItem => item.Mobile)</div>
                                            <div style="margin-left:50px;">ایمیل : @Html.DisplayFor(modelItem => item.Email)</div>
                                        </div>
                                        <div style="border-top: 1px dashed silver"></div>
                                        <div>
                                            آدرس : @Html.DisplayFor(modelItem => item.Address) -
                                            کد پستی : @Html.DisplayFor(modelItem => item.CodePosti)
                                        </div>
                                        <div>توضیحات : @Html.DisplayFor(modelItem => item.Description)</div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
