@using DomainClass;
@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
}

<div class="block grid12">
    <div class="breadcrumb">
        <a href="/Home/Index">صفحه اصلی</a><span>›</span><a href="/Admin/Products">مدیریت محصولات</a>
    </div>
</div>
<div class="full12">
    <div class="block grid12">
        @using (Html.BeginForm("AddGroup", "Admin", FormMethod.Post, new { id = "myForm" }))
        {
            <h1 class="block-header">لیست محصولات</h1>
            <div class="separator"></div>
            <div class="block-standart">
                <div class="form inline">
                    <div class="group">
                        @Html.ActionLink("افزودن محصول جدید", "AddProduct", "Admin", null, new { @class = "button" })
                    </div>
                    <div class="group">
                        <table class="table-full table-total">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Image)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GroupId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    عملیات
                                </th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.ImageFor(modelItem => item.Image, new { width = "80" }, "Tulips.jpg", "Files", "UploadImages")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Group.Name)
                                    </td>
                                    <td>
                                        @item.Price.ToString().Trim('0').Trim('.') تومان
                                    </td>
                                    <td>
                                        @Html.ActionLink("ویرایش", "EditProduct", new { id = item.Id }) |
                                        @Html.ActionLink("حذف", "DeleteProduct", new { id = item.Id }, new { onclick = "return confirm('جهت حذف مطمئن هستید ؟')" })
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts{
    <script src="@Url.Content("~/Scripts/AjaxForm/jquery.form.min.js")"></script>
    <script type="text/javascript">
        $("#myForm").ajaxForm();
        $(function () {
            //$("#Group_ParentId").click(function () {
            //    if ($("#Group_ParentId").find(":selected").length > 0) {
            //        var txt = $("#Group_ParentId").find(":selected").text().trim();
            //        $("#Group_Name").val(txt.substring(1))
            //    }
            //});
            //$("#btnAdd").click(function (e) {
            //    e.preventDefault();
            //    if ($("#groupForm").valid()) {
            //        $.ajax({
            //            url: "/Admin/AddGroup",
            //            data: $("#groupForm").serialize(),
            //            type: "Post",
            //            dataType: "Json",
            //            success: function (result) {
            //                if (result.Success) {
            //                    $("#divGroupList").html(result.Html);
            //                }
            //                eval(result.Script);
            //            },
            //            error: function () {
            //                alert("خطا!");
            //            }
            //        });
            //    }
            //});
            //$("#btnDelete").click(function (e) {
            //    e.preventDefault();
            //    if ($("#Group_ParentId").find(":selected").length > 0) {
            //        $.ajax({
            //            url: "/Admin/DeleteGroup",
            //            data: { id: $("#Group_ParentId").find(":selected").val() },
            //            type: "Post",
            //            dataType: "Json",
            //            success: function (result) {
            //                if (result.Success) {
            //                    $("#divGroupList").html(result.Html);
            //                }
            //                eval(result.Script);
            //            },
            //            error: function () {
            //                alert("خطا!");
            //            }
            //        });
            //    }
            //    else {
            //        alert("ابتدا گروه را انتخاب کنید");
            //    }
            //});
            //$("#btnEdit").click(function (e) {
            //    e.preventDefault();
            //    if ($("#groupForm").valid()) {
            //        if ($("#Group_ParentId").find(":selected").length > 0) {
            //            $.ajax({
            //                url: "/Admin/EditGroup",
            //                data: {
            //                    Id: $("#Group_ParentId").find(":selected").val(),
            //                    Name: $("#Group_Name").val(),
            //                    ParentId: $("#Group_ParentId").find(":selected").attr("parentid")
            //                },
            //                type: "Post",
            //                dataType: "Json",
            //                success: function (result) {
            //                    if (result.Success) {
            //                        $("#divGroupList").html(result.Html);
            //                    }
            //                    eval(result.Script);
            //                },
            //                error: function () {
            //                    alert("خطا!");
            //                }
            //            });
            //        }
            //        else {
            //            alert("ابتدا گروه را انتخاب کنید");
            //        }
            //    }
            //});
        });
    </script>
}