@model IdentitySample.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>


<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal login100-form validate-form flex-sb flex-w", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new IdentitySample.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
                <span class="login100-form-title p-b-53">
                    Sign In With
                </span>

                <a href="#" class="btn-face m-b-20">
                    <i class="fa fa-facebook-official"></i>
                    Facebook
                </a>

                <a href="#" class="btn-google m-b-20">
                    <img src="~/Content/Login_v5/images/icons/icon-google.png" alt="GOOGLE">
                    Google
                </a>

                <div class="p-t-31 p-b-9">
                    <span class="txt1">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    </span>
                </div>

                <div class="wrap-input100 validate-input">

                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "input100" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="p-t-13 p-b-9">
                    <span class="txt1">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    </span>
                </div>
                <div class="wrap-input100 validate-input">

                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input100" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <span class="focus-input100"></span>

                    </div>


                </div>
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        Sign In
                    </button>
                </div>

                <div class="w-full text-center p-t-55">
                    <span class="txt2 bo1 m-l-5">
                        @Html.ActionLink("Register a new user?", "Register")
                       
                    </span>
                    <div class="txt2 bo1 m-l-5">
                        @Html.ActionLink("Forget your password?", "ForgotPassword")
                    </div>
                </div>
            }


        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>
@section scripts
{
    <script src="~/Content/Login_v5/js/main.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v5/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v5/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v5/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Login_v5/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v5/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v5/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/Login_v5/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v5/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
}
@section styles
{
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/Login_v5/images/icons/favicon.ico"/>

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v5/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v5/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v5/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v5/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v5/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v5/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v5/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v5/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v5/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v5/css/main.css">

}
