<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>قالب فروشگاه </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="@Url.Content("~/Content/shop/css/flexslider.css")">
    @*<link rel="stylesheet" href="@Url.Content("~/Content/shop/css/elastislide.css")">*@
    @*<link rel="stylesheet" href="@Url.Content("~/Content/shop/css/jquery.jqzoom.css")">*@
    <link href="~/Content/bootstrap-rtl.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/Hi">فروشگاه انلاین</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <a class="nav-link" href="/Home/LogOut">خروج <span class="sr-only">خروج</span></a>
                    }
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/register">ثبت نام <span class="sr-only">ثبت نام</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/login">ورود <span class="sr-only">ورود</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/LogOut">خروج <span class="sr-only">خروج</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">پایان خرید <span class="sr-only">پایان خرید</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Basket">سبد خرید <span class="sr-only">سبد خرید</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Basket">(@{ Html.RenderAction("CartCount", "Home"); }) لسیت خرید  <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <a class="nav-link" href="/Home/Index">@User.Identity.Name خوش امدید <span class="sr-only"></span></a>
                    }
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-9 co-sm-6 col-xs-9">
                @RenderBody()
            </div>
            <div class="col-md-3 col-lg-3 co-sm-6 col-xs-3">

            </div>
        </div>
    </div>
    <div>
        <footer class="page-footer font-small stylish-color-dark pt-4" style="background-color: aqua">

            <div class="container text-center text-md-left">

                <div class="row">

                    <div class="col-md-4 mx-auto">

                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">درباره فروشگاه</h5>
                        <p>
                            این سایت برای نمونه کار طراحی شده است
                        </p>

                    </div>
                    <hr class="clearfix w-100 d-md-none">

                    <div class="col-md-2 mx-auto">

                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ناحیه کاربری</h5>

                        <ul class="list-unstyled">
                            <li><span>\</span><a href="#">ناحیه کاربری من</a></li>
                            <li><span>\</span><a href="#">تارخچه خرید من</a></li>
                            <li><span>\</span><a href="#">لیست انخاب من</a></li>
                            <li><span>\</span><a href="#">عضویت در خبرنامه</a></li>
                        </ul>

                    </div>
                    <div class="col-md-2 mx-auto">

                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">اطلاعات</h5>

                        <ul class="list-unstyled">
                            <li><span>\</span><a href="#">درباره ما</a></li>
                            <li><span>\</span><a href="#">درباره فروشگاه</a></li>
                            <li><span>\</span><a href="#">پشتیبانی فروشگاه</a></li>
                            <li><span>\</span><a href="#">پشتیبانی محصول</a></li>
                        </ul>

                    </div>

                    <hr class="clearfix w-100 d-md-none">
                    <div class="col-md-2 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">خدمات به مشتری</h5>

                        <ul class="list-unstyled">
                            <li><span>\</span><a href="contactus.html">تماس با ما</a></li>
                            <li><span>\</span><a href="#">بازخوردها</a></li>
                            <li><span>\</span><a href="#">نقشه سایت</a></li>
                        </ul>

                    </div>
                    <hr class="clearfix w-100 d-md-none">
                    <div class="col-md-2 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">قسمت بندی ها</h5>

                        <ul class="list-unstyled">
                            <li><span>\</span><a href="#">بر اساس مارک</a></li>
                            <li><span>\</span><a href="#">بر اساس فروش</a></li>
                            <li><span>\</span><a href="#">بر اساس علاقه مندی ها</a></li>
                            <li><span>\</span><a href="#">تخفیف خورده ها</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <hr>
            <hr>
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a class="btn-floating btn-fb mx-1">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-tw mx-1">
                        <i class="fab fa-twitter"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-gplus mx-1">
                        <i class="fab fa-google-plus-g"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-li mx-1">
                        <i class="fab fa-linkedin-in"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-dribbble mx-1">
                        <i class="fab fa-dribbble"> </i>
                    </a>
                </li>
            </ul>

            <div class="footer-copyright text-center py-3">
                <a href="https://google.com/time"> @DateTime.Now.ToPersianDate()</a>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="@Url.Content("~/Scripts/Noty/jquery.noty.js")"></script>
    <script src="~/Scripts/bootstrap-rtl.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
